vectordb:
  - name: chroma_large
    db_type: chroma
    client_type: persistent
    embedding_model: upstage
    collection_name: upstage
    path: ${PROJECT_DIR}/resources/chroma
    embedding_batch: 1
node_lines:
- node_line_name: retrieve_node_line
  nodes:
    - node_type: lexical_retrieval
      strategy:
        metrics: [ retrieval_f1, retrieval_recall, retrieval_precision,
                   retrieval_ndcg, retrieval_map, retrieval_mrr ]
        speed_threshold: 10
      top_k: 10
      modules:
        - module_type: bm25
    - node_type: semantic_retrieval
      strategy:
        metrics: [ retrieval_f1, retrieval_recall, retrieval_precision,
                   retrieval_ndcg, retrieval_map, retrieval_mrr ]
        speed_threshold: 10
      top_k: 10
      modules:
        - module_type: vectordb
          vectordb: chroma_large
    - node_type: hybrid_retrieval
      strategy:
        metrics: [ retrieval_f1, retrieval_recall, retrieval_precision,
                   retrieval_ndcg, retrieval_map, retrieval_mrr ]
        speed_threshold: 10
      top_k: 10
      modules:
        - module_type: hybrid_rrf
          weight_range: (4,80)
        - module_type: hybrid_cc
          normalize_method: [ mm, tmm, z, dbsf ]
          weight_range: (0.0, 1.0)
          test_weight_size: 101
    - node_type: passage_augmenter
      strategy:
        metrics: [ retrieval_f1, retrieval_recall, retrieval_precision ]
        speed_threshold: 5
      top_k: 5
      embedding_model: huggingface_multilingual_e5_large
      modules:
        - module_type: pass_passage_augmenter
        - module_type: prev_next_augmenter
          mode: next
    - node_type: passage_reranker
      modules:
        - module_type: koreranker
        - module_type: upr
        - module_type: pass_reranker
      strategy:
        metrics: [ retrieval_recall, retrieval_precision, retrieval_map ]
      top_k: 3
    - node_type: passage_filter
      strategy:
        metrics: [ retrieval_f1, retrieval_recall, retrieval_precision ]
        speed_threshold: 5
      modules:
        - module_type: pass_passage_filter
        - module_type: threshold_cutoff
          threshold: 0.85
        - module_type: percentile_cutoff
          percentile: 0.6
    - node_type: passage_compressor
      strategy:
        metrics: [retrieval_token_f1, retrieval_token_recall, retrieval_token_precision]
        speed_threshold: 10
      modules:
        - module_type: pass_compressor
- node_line_name: post_retrieve_node_line
  nodes:
    - node_type: prompt_maker
      strategy:
        metrics:
          - metric_name: bleu
          - metric_name: meteor
          - metric_name: rouge
          - metric_name: sem_score
            embedding_model: upstage
            batch: 10
        speed_threshold: 10
        generator_modules:
          - module_type: llama_index_llm
            llm: upstage
            model: [solar-pro2]
      modules:
        - module_type: fstring
          prompt: ["경희대학교 학생들을 위한 챗봇입니다. 오직, 주어진 학칙만을 이용하여 질문에 따라 답하시오. 모르면 모른다고 대답하시오. 학칙: {retrieved_contents} \n\n 질문: {query} \n\n 답변:"]
    - node_type: generator
      strategy:
        metrics:
          - metric_name: bleu
          - metric_name: meteor
          - metric_name: rouge
          - metric_name: sem_score
            embedding_model: upstage
            batch: 10
        speed_threshold: 10
      modules:
        - module_type: llama_index_llm
          llm: [upstage]
          model: [solar-pro2]
